@charset "UTF-8";
@font-face {
  font-family: "Roobert";
  src: url("../assets/fonts/Roobert-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Rebond Grotesque";
  src: url("../assets/fonts/Rebond Grotesque.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Rebond Grotesque";
  src: url("../assets/fonts/Rebond Grotesque Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Rebond Grotesque";
  src: url("../assets/fonts/Rebond Grotesque Bold Italic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Rebond Grotesque";
  src: url("../assets/fonts/Rebond Grotesque Extrabold.otf") format("opentype");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "Rebond Grotesque";
  src: url("../assets/fonts/Rebond Grotesque Medium.otf") format("opentype");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "Rebond Grotesque";
  src: url("../assets/fonts/Rebond Grotesque Light.otf") format("opentype");
  font-weight: light;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* list-style: none; */
}

.dark {
  background-color: #050027;
}

.overflow-x {
  overflow-x: hidden;
}

.red {
  background-color: red;
}

.pink {
  background-color: #FFB0E9;
}

.logo-color {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  -webkit-background-clip: text; /* Safari/Chrome-specific prefix */
  background-clip: text;
  color: transparent;
}

.logo-text {
  font-size: 2rem;
  justify-content: center;
  font-family: "Roobert";
  font-weight: bolder;
  align-items: center;
  align-self: center;
}

.nav-item {
  margin: 0 1px;
}
.nav-item .nav-link {
  font-family: "Rebond Grotesque";
  font-size: 1.4rem;
  font-weight: medium;
  font-style: normal;
}

.navbar-nav {
  justify-content: center;
  align-items: end;
  align-self: center;
  margin-right: 3vw;
  padding: 2vh 0;
}

@media screen and (min-width: 1024px) {
  .navbar {
    border-bottom: 0.01px solid white;
  }
  .navbar-nav {
    margin-left: 15vw;
  }
}
@media screen and (min-width: 1024px) {
  .navbar {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #050027;
  }
}
.title1, .title2 {
  font-family: "Rebond Grotesque";
  font-size: 4rem;
  font-weight: bolder;
  text-align: left;
  color: #FFFFFF;
  margin: 1vh 4vw 1vh 4vw;
}

.title2 {
  font-size: 3rem;
  color: #010101;
}

.gradient {
  background-image: linear-gradient(-225deg, #2CD8D5 0%, #6B8DD6 48%, #8E37D7 100%);
  -webkit-background-clip: text; /* Safari/Chrome-specific prefix */
  background-clip: text;
  color: transparent;
}

.little-box {
  background-color: #508DFF;
  border-radius: 30px;
  margin: 2vh 6vw 2vh 6vw;
}

.little-title {
  font-family: "Rebond Grotesque";
  font-size: 2rem;
  color: #FFFFFF;
  font-weight: bold;
  padding: 2vh 2vw 0 2vw;
}

.little-subtitle {
  font-family: "Roobert";
  font-size: 1rem;
  color: #FFFFFF;
  font-weight: lighter;
  opacity: 0.7;
  padding: 0 2vw 0 2vw;
}

.little-memoji-box {
  margin-left: 2vw;
  flex-wrap: nowrap;
}
.little-memoji-box .little-memoji {
  width: 5vw;
  border: 2px solid white;
  border-radius: 40px;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.paragraph {
  font-family: "Rebond Grotesque";
  font-size: 2rem;
  color: #FFFFFF;
}

.circle1 {
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  width: 100px;
  height: 100px;
  background-image: linear-gradient(-225deg, #2CD8D5 0%, #6B8DD6 48%, #8E37D7 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.circle1 .row1 {
  font-size: 2rem;
}

.memojis {
  display: flex;
  position: relative;
  flex-shrink: 0;
  text-align: center;
  align-items: center;
}
.memojis .memoji1 {
  width: 25vw;
  flex-shrink: 0;
  position: absolute;
  left: 0px;
}
.memojis .memoji2 {
  width: 25vw;
  flex-shrink: 0;
  position: absolute;
  left: 11vw;
  z-index: 10;
}
.memojis .memoji3 {
  width: 25vw;
  flex-shrink: 0;
  position: absolute;
  left: 22vw;
}

.cards-container {
  display: flex;
  flex-direction: column;
  border: 20px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  padding-top: 5vh;
  padding-bottom: 5vh;
  z-index: 20;
}

.card-subtitle {
  font-family: "Rebond Grotesque";
  font-weight: bold;
  font-size: 1.4rem;
  margin: 0 2vh;
}

.subtitle2-section-grey {
  font-family: "Roobert";
  font-size: 2rem;
  font-weight: bold;
}

.card1, .card3, .card2 {
  background-color: #FFFFFF;
  width: 80vw;
  height: auto;
  border-radius: 30px;
  align-self: center;
  margin: 1vh;
  overflow: hidden;
}
.card1 .card-button, .card3 .card-button, .card2 .card-button {
  background-color: #77BFCF;
  border-radius: 15px;
  font-family: "Roobert";
  font-size: 1rem;
  color: #FFFFFF;
  margin: 2vh;
  padding: 1vh 0vw 1vh 1vw;
  justify-self: start;
  text-align: left;
  width: 34vw;
}
.card1 .card-text, .card3 .card-text, .card2 .card-text {
  font-family: "Roobert";
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
  margin: 1vh 2vh;
}

.progress {
  width: 80%;
  height: 10px;
  border-radius: 10px;
  margin: 0 2vh;
}
.progress .progress-bar {
  width: 50px;
  background-color: #77BFCF;
}

.card2 .card-button {
  background-color: #FFB0E9;
}
.card2 .progress .progress-bar {
  background-color: #FFB0E9;
  width: 120px;
}

.card3 .card-button {
  background-color: #508DFF;
}
.card3 .progress .progress-bar {
  background-color: #508DFF;
  width: 190px;
}

.section-grey {
  background-color: #EEF3FC;
  height: 380vh;
  position: relative;
  top: 91px; /* Ajusta el valor para elevar la sección */
  z-index: -10; /* Asegura que la sección esté por encima de las tarjetas */
}

.box-container .box1 {
  margin-top: 10vh;
  padding: 6vh;
}

.white-box {
  background-color: #FFFFFF;
  border-radius: 30px;
  border: 3px solid rgba(128, 128, 128, 0.06);
}
.white-box .white-box-title {
  font-family: "Rebond Grotesque";
  font-size: 1.4rem;
  font-weight: bold;
  color: #010101;
}

.subtitle-section-grey {
  font-family: "Rebond Grotesque";
  font-size: 4rem;
  font-weight: bold;
}

.paragraph-section-grey {
  font-family: "Roobert";
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.5);
}

.circle2 {
  width: 100px;
  height: 100px;
  background-color: #6A65FF;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4vh;
}
.circle2 .arrow2 {
  font-size: 2rem;
  color: white;
}

.section-white {
  background-color: #FFFFFF;
  height: 220vh;
  position: relative;
  top: -8px; /* Ajusta el valor para elevar la sección */
  z-index: -10;
  padding-top: 10vh;
}

.day-container .chart-line-background {
  width: 3vw;
  height: 25vh;
  border-radius: 30px;
  background-color: #7d85f8;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.day-container .chart-line-background .chart-line-pink, .day-container .chart-line-background .chart-line-blue, .day-container .chart-line-background .ten-blue, .day-container .chart-line-background .ten-pink, .day-container .chart-line-background .five-pink {
  height: 15vh;
  border-radius: 30px;
  background-color: #FFB0E9;
}
.day-container .chart-line-background .five-pink {
  height: 5vh;
}
.day-container .chart-line-background .ten-pink {
  height: 10vh;
}
.day-container .chart-line-background .chart-line-blue, .day-container .chart-line-background .ten-blue {
  height: 20vh;
  background-color: #77BFCF;
}
.day-container .chart-line-background .ten-blue {
  height: 10vh;
}
.day-container .paragraph-section-grey {
  text-align: center;
  font-size: 1rem;
}

.dot-pink, .dot-violet, .dot-blue {
  height: 1vh;
  width: 1vh;
  padding: 1vh;
  background-color: #FFB0E9;
  border-radius: 50%;
}

.dot-blue {
  background-color: #77BFCF;
}

.dot-violet {
  background-color: #7d85f8;
}

.items {
  font-size: 1rem;
  font-family: "Roobert";
}

@media screen and (min-width: 1024px) {
  .title1, .title2 {
    font-size: 8rem;
    margin: 0;
    margin-top: 20vh;
  }
  .title2 {
    font-size: 4rem;
    padding: 0;
    margin: 0;
  }
  .paragraph {
    margin-left: 0vw;
  }
  .circle1 {
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    width: 150px;
    height: 150px;
    background-image: linear-gradient(-225deg, #2CD8D5 0%, #6B8DD6 48%, #8E37D7 100%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .circle1 .arrow {
    font-size: 4rem;
  }
  .memojis {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-shrink: 0;
  }
  .memojis .memoji1, .memojis .memoji2, .memojis .memoji3 {
    width: 15vw;
    flex-shrink: 0;
    position: absolute;
  }
  .memojis .memoji1 {
    left: 0px;
  }
  .memojis .memoji2 {
    left: 9vw;
    z-index: 10;
  }
  .memojis .memoji3 {
    left: 18vw;
  }
  .cards-container {
    flex-direction: row;
    width: auto;
  }
  .cards-container .card1, .cards-container .card2, .cards-container .card3 {
    width: 100vw;
  }
  .card1, .card2, .card3 {
    width: 20vw;
  }
  .box-container .box1 {
    margin-top: 30vh;
    padding: 6vh;
  }
  .section-grey {
    background-color: #EEF3FC;
    height: 200vh;
    position: relative;
    top: -200px; /* Ajusta el valor para elevar la sección */
    z-index: -10; /* Asegura que la sección esté por encima de las tarjetas */
  }
  .section-white {
    background-color: #FFFFFF;
    height: 200vh;
    position: relative;
    top: -200px; /* Ajusta el valor para elevar la sección */
    z-index: -10;
    padding-top: 10vh;
  }
  .day-container {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
  }
  .day-container .chart-line-background {
    width: 1.3vw;
  }
}
@media screen and (min-width: 580px) and (max-width: 1000px) {
  .title1, .title2 {
    font-size: 5rem;
    margin-left: 0;
    margin-bottom: 0;
  }
  .little-box {
    margin: 0;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 2vw;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 15vh;
  }
  .little-memoji-box {
    margin-left: 2vw;
  }
  .little-memoji-box .little-memoji {
    width: 4vw;
  }
  .paragraph {
    justify-self: flex-start;
    font-size: 2rem;
  }
  .cards-container {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 20vh;
    justify-content: space-between;
    border: 20px solid rgba(255, 255, 255, 0.2);
    margin: 10vh 1vw;
    flex-direction: column;
    margin-bottom: 30vh;
  }
  .cards-container .card1, .cards-container .card2, .cards-container .card3 {
    width: 50vw;
  }
  .section-grey {
    top: -250px;
  }
  .memojis {
    flex-wrap: nowrap;
  }
  .memojis .memoji1, .memojis .memoji2, .memojis .memoji3 {
    width: 23vw;
    flex-shrink: 0;
  }
  .memojis .memoji1 {
    left: 0;
  }
  .memojis .memoji2 {
    left: 7vw;
  }
  .memojis .memoji3 {
    left: 14vw;
  }
}
@media screen and (min-width: 1001px) and (max-width: 1500px) {
  .title1, .title2 {
    font-size: 7rem;
  }
  .little-memoji-box {
    margin-left: 2vw;
  }
  .little-memoji-box .little-memoji {
    width: 2.3vw;
  }
  .memojis .memoji1, .memojis .memoji2, .memojis .memoji3 {
    width: 20vw;
    flex-shrink: 0;
    position: absolute;
  }
  .cards-container .card1, .cards-container .card2, .cards-container .card3 {
    width: 50vw;
  }
}
@media screen and (min-width: 1501px) and (max-width: 1800px) {
  .cards-container {
    flex-wrap: nowrap;
  }
  .cards-container .card1, .cards-container .card2, .cards-container .card3 {
    width: 20vw;
  }
  .little-memoji-box {
    flex-wrap: nowrap;
  }
  .little-memoji-box .little-memoji {
    width: 2.4vw;
  }
  .memoji1, .memoji2, .memoji3 {
    width: 22vw;
    flex-shrink: 0;
    position: absolute;
  }
}
@media screen and (min-width: 1801px) and (max-width: 2700px) {
  .cards-container {
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 2vh 0;
    margin-left: -6vw;
    margin-right: -6vw;
  }
  .cards-container .card1, .cards-container .card2, .cards-container .card3 {
    width: 18vw;
  }
  .little-box {
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20vh;
    height: 20vh;
  }
  .little-memoji-box .little-memoji {
    width: 1.4vw;
  }
  .memoji1, .memoji2, .memoji3 {
    width: 10vw;
    flex-shrink: 0;
    position: absolute;
  }
}/*# sourceMappingURL=styles.css.map */