@charset "UTF-8";
@font-face {
  font-family: "Roobert";
  src: url("../assets/fonts/Roobert-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Rebond Grotesque";
  src: url("../assets/fonts/Rebond Grotesque.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Rebond Grotesque";
  src: url("../assets/fonts/Rebond Grotesque Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Rebond Grotesque";
  src: url("../assets/fonts/Rebond Grotesque Bold Italic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Rebond Grotesque";
  src: url("../assets/fonts/Rebond Grotesque Extrabold.otf") format("opentype");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "Rebond Grotesque";
  src: url("../assets/fonts/Rebond Grotesque Medium.otf") format("opentype");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "Rebond Grotesque";
  src: url("../assets/fonts/Rebond Grotesque Light.otf") format("opentype");
  font-weight: light;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* list-style: none; */
}

.dark {
  background-color: #050027;
}

.overflow-x {
  overflow-x: hidden;
}

.red {
  background-color: red;
}

.pink {
  background-color: #FFB0E9;
}

.logo-color {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  -webkit-background-clip: text; /* Safari/Chrome-specific prefix */
  background-clip: text;
  color: transparent;
}

.logo-text {
  font-size: 2rem;
  justify-content: center;
  font-family: "Roobert";
  font-weight: bolder;
  align-items: center;
  align-self: center;
}

.nav-item {
  margin: 0 1px;
}
.nav-item .nav-link {
  font-family: "Rebond Grotesque";
  font-size: 1.4rem;
  font-weight: medium;
  font-style: normal;
}

.navbar-nav {
  justify-content: center;
  align-items: end;
  align-self: center;
  margin-right: 3vw;
  padding: 2vh 0;
}

@media screen and (min-width: 1024px) {
  .navbar {
    border-bottom: 0.01px solid white;
  }
  .navbar-nav {
    margin-left: 15vw;
  }
}
@media screen and (min-width: 1024px) {
  .navbar {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #050027;
  }
}
.title1 {
  font-family: "Rebond Grotesque";
  font-size: 4rem;
  font-weight: bolder;
  text-align: left;
  color: #FFFFFF;
  margin: 1vh 4vw 1vh 4vw;
}

.gradient {
  background-image: linear-gradient(-225deg, #2CD8D5 0%, #6B8DD6 48%, #8E37D7 100%);
  -webkit-background-clip: text; /* Safari/Chrome-specific prefix */
  background-clip: text;
  color: transparent;
}

.little-box {
  background-color: #508DFF;
  border-radius: 30px;
  margin: 2vh 6vw 2vh 6vw;
}

.little-title {
  font-family: "Rebond Grotesque";
  font-size: 2rem;
  color: #FFFFFF;
  font-weight: bold;
  padding: 2vh 2vw 0 2vw;
}

.little-subtitle {
  font-family: "Roobert";
  font-size: 1rem;
  color: #FFFFFF;
  font-weight: lighter;
  opacity: 0.7;
  padding: 0 2vw 0 2vw;
}

.little-memoji-box {
  margin-left: 2vw;
  flex-wrap: nowrap;
}
.little-memoji-box .little-memoji {
  width: 5vw;
  border: 2px solid white;
  border-radius: 40px;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.paragraph {
  font-family: "Rebond Grotesque";
  font-size: 2rem;
  color: #FFFFFF;
}

.circle1 {
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  width: 100px;
  height: 100px;
  background-image: linear-gradient(-225deg, #2CD8D5 0%, #6B8DD6 48%, #8E37D7 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.circle1 .row1 {
  font-size: 2rem;
}

.memojis {
  display: flex;
  position: relative;
  flex-shrink: 0;
  text-align: center;
  align-items: center;
}
.memojis .memoji1 {
  width: 25vw;
  flex-shrink: 0;
  position: absolute;
  left: 0px;
}
.memojis .memoji2 {
  width: 25vw;
  flex-shrink: 0;
  position: absolute;
  left: 11vw;
  z-index: 10;
}
.memojis .memoji3 {
  width: 25vw;
  flex-shrink: 0;
  position: absolute;
  left: 22vw;
}

.cards-container {
  display: flex;
  flex-direction: column;
  border: 20px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  padding-top: 5vh;
  padding-bottom: 5vh;
  z-index: 20;
}

.card1, .card3, .card2 {
  background-color: #FFFFFF;
  width: 80vw;
  height: auto;
  border-radius: 30px;
  align-self: center;
  margin: 2vh;
}
.card1 .card-button, .card3 .card-button, .card2 .card-button {
  background-color: #77BFCF;
  border-radius: 15px;
  font-family: "Roobert";
  font-size: 1rem;
  color: #FFFFFF;
  margin: 2vh;
  padding: 1vh 0vw 1vh 1vw;
  justify-self: start;
  text-align: left;
  width: 34vw;
}
.card1 .card-subtitle, .card3 .card-subtitle, .card2 .card-subtitle {
  font-family: "Rebond Grotesque";
  font-weight: bold;
  font-size: 1.4rem;
  margin: 0 2vh;
}
.card1 .card-text, .card3 .card-text, .card2 .card-text {
  font-family: "Roobert";
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
  margin: 1vh 2vh;
}
.card1 .progress, .card3 .progress, .card2 .progress {
  width: 80%;
  height: 10px;
  border-radius: 10px;
  margin: 0 2vh;
}
.card1 .progress .progress-bar, .card3 .progress .progress-bar, .card2 .progress .progress-bar {
  width: 50px;
  background-color: #77BFCF;
}

.card2 .card-button {
  background-color: #FFB0E9;
}
.card2 .progress .progress-bar {
  background-color: #FFB0E9;
  width: 120px;
}

.card3 .card-button {
  background-color: #508DFF;
}
.card3 .progress .progress-bar {
  background-color: #508DFF;
  width: 190px;
}

.section1 {
  background-color: #EEF3FC;
}

@media screen and (min-width: 1024px) {
  .title1 {
    font-size: 8rem;
    margin: 0;
    margin-top: 20vh;
  }
  .little-box {
    margin: 0;
    height: 23vh;
    margin-top: 22vh;
  }
  .little-memoji-box {
    margin-left: 2vw;
    margin-top: 2vh;
    width: auto;
  }
  .little-memoji-box .little-memoji {
    width: 2vw;
    border: 2px solid white;
    border-radius: 40px;
    margin-bottom: 0vh;
    margin-top: 0;
  }
  .paragraph {
    margin-left: 0vw;
  }
  .circle1 {
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    width: 150px;
    height: 150px;
    background-image: linear-gradient(-225deg, #2CD8D5 0%, #6B8DD6 48%, #8E37D7 100%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .circle1 .row1 {
    font-size: 4rem;
  }
  .memojis {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-shrink: 0;
  }
  .memojis .memoji1 {
    width: 18vw;
    flex-shrink: 0;
    position: absolute;
    left: 0px;
  }
  .memojis .memoji2 {
    width: 18vw;
    flex-shrink: 0;
    position: absolute;
    left: 9vw;
    z-index: 10;
  }
  .memojis .memoji3 {
    width: 18vw;
    flex-shrink: 0;
    position: absolute;
    left: 18vw;
  }
  .cards-container {
    flex-direction: row;
  }
  .card1, .card2, .card3 {
    width: 20vw;
  }
  .section1 {
    background-color: #EEF3FC;
    height: 500px;
    position: relative;
    top: -200px; /* Ajusta el valor para elevar la sección */
    z-index: -10; /* Asegura que la sección esté por encima de las tarjetas */
  }
}
@media screen and (min-width: 1745px) {
  .little-box {
    margin: 0;
    margin-top: 20vh;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 23vh;
  }
  .cards-container {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 20vh;
    justify-content: center;
    width: auto;
  }
  .cards-container .card1, .cards-container .card2, .cards-container .card3 {
    width: 20vw;
  }
  .section1 {
    top: -250px;
  }
  .memojis {
    flex-wrap: nowrap;
  }
  .memojis .memoji1, .memojis .memoji2, .memojis .memoji3 {
    width: 14vw;
    height: auto;
  }
  .memojis .memoji2 {
    left: 7vw;
  }
  .memojis .memoji3 {
    left: 14vw;
  }
  .little-memoji-box {
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
  }
  .little-memoji-box .little-memoji {
    width: 1.5vw;
  }
}/*# sourceMappingURL=styles.css.map */