
@font-face {
    font-family: 'Roobert';
    src: url('../assets/fonts/Roobert-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rebond Grotesque';
    src: url('../assets/fonts/Rebond Grotesque.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rebond Grotesque';
    src: url('../assets/fonts/Rebond Grotesque Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rebond Grotesque';
    src: url('../assets/fonts/Rebond Grotesque Bold Italic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Rebond Grotesque';
    src: url('../assets/fonts/Rebond Grotesque Extrabold.otf') format('opentype');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'Rebond Grotesque';
    src: url('../assets/fonts/Rebond Grotesque Medium.otf') format('opentype');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'Rebond Grotesque';
    src: url('../assets/fonts/Rebond Grotesque Light.otf') format('opentype');
    font-weight: light;
    font-style: normal;
}
