.title1 {
    font-family: map-get($fonts, subtitle);
    font-size: 4rem;
    font-weight: bolder;
    text-align: left;
    color: map-get($colors, white );
    margin: 1vh 4vw 1vh 4vw;

}

.title2 {
    @extend .title1;
    font-size: 3rem;
    color: map-get($colors, black );
}

.gradient {
    background-image: linear-gradient(-225deg, #2CD8D5 0%, #6B8DD6 48%, #8E37D7 100%);
    -webkit-background-clip: text; /* Safari/Chrome-specific prefix */
    background-clip: text;
    color: transparent;
}



.little-box {
    background-color: map-get($colors, blue );
    border-radius: map-get($border, round);
    margin: 2vh 6vw 2vh 6vw;
    
}

.little-title {
    font-family: map-get($fonts, subtitle);
    font-size: map-get($sizes, subtitle);
    color: map-get($colors, white );
    font-weight: bold;
    padding: 2vh 2vw 0 2vw;
}

.little-subtitle {
    font-family: map-get($fonts, title);
    font-size: map-get($sizes, body);
    color: map-get($colors, white);
    font-weight: lighter;
    opacity: .7;
    padding:  0 2vw 0 2vw;
}

.little-memoji-box {
    margin-left: 2vw;
    flex-wrap: nowrap;

    .little-memoji {
        width: 5vw;
        border: 2px solid white;
        border-radius: 40px;
        margin-bottom: 2vh;
        margin-top: 2vh;
    }

}

.paragraph {
    font-family: map-get($fonts, subtitle);
    font-size: map-get($sizes, subtitle);
    color: map-get($colors, white);

    
}

.circle1 {
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    width: 100px;
    height: 100px;
    background-image: linear-gradient(-225deg, #2CD8D5 0%, #6B8DD6 48%, #8E37D7 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    .row1 {
        font-size: 2rem;
    }
}

.memojis {
    display: flex;
    position: relative;
    flex-shrink: 0;
    text-align: center;
    align-items: center;
    
    .memoji1 {
        width: 25vw;
        flex-shrink: 0;
        position: absolute;
        left: 0px;
    }

    .memoji2 {
        width: 25vw;
        flex-shrink: 0;
        position: absolute;
        left: 11vw;
        z-index: 10;
    }

    .memoji3 {
        width: 25vw;
        flex-shrink: 0;
        position: absolute;
        left: 22vw;
    }
}



.cards-container {
    display: flex;
    flex-direction: column;
    border: 20px solid rgb(255, 255, 255, 0.2);
    border-radius: 50px;
    padding-top: 5vh;
    padding-bottom: 5vh;
    z-index: 20;


    // padding-left: 1vw;
    // padding-right: 1vw;
}

.card-subtitle {
    font-family: map-get($fonts, subtitle);
    font-weight: bold;
    font-size: map-get($sizes, nav-bar);
    margin: 0 2vh;
}

.subtitle2-section-grey {
    font-family: map-get($fonts, title);
    font-size: map-get($sizes, subtitle);
    font-weight: bold;
}

.card1 {
    background-color: map-get($colors, white);
    width: 80vw;
    height: auto;
    border-radius: map-get($border , round);
    align-self: center;
    margin: 1vh;
    overflow: hidden;
    // box-shadow: 0px 0px 50px -9px rgba(0,0,0,0.1);
    // box-shadow: 0px 100px 50px -9px rgba(0,0,0,0.1);

    .card-button {
        background-color: map-get($colors, light-blue);
        border-radius: 15px;
        font-family: map-get($fonts, title);
        font-size: map-get($sizes, body);
        color: map-get($colors, white);
        margin:  2vh;
        padding: 1vh 0vw 1vh 1vw;
        justify-self: start;
        text-align: left;
        width: 34vw;
    }



    .card-text {
        font-family: map-get($fonts, title);
        font-size: map-get($sizes, body);
        color: rgb(0, 0, 0, 0.5);
        margin: 1vh 2vh;
    }



}

.progress {
    width: 80%;
    height: 10px;
    border-radius: 10px;
    margin: 0 2vh;
    .progress-bar {
        width: 50px;

        background-color: map-get($colors, light-blue);
    }
}

.card2 {
    @extend .card1;
    .card-button {
        background-color: map-get($colors, pink);
    }
    
    .progress {
        .progress-bar {
            background-color: map-get($colors, pink);
            width: 120px;
        }
    }

}

.card3 {
    @extend .card1;
    .card-button {
        background-color: map-get($colors, blue);
    }
    
    .progress {
        .progress-bar {
            background-color: map-get($colors, blue);
            width: 190px;
        }

    }

}




.section-grey {
    background-color: map-get($colors, light-grey);
    height: 380vh; // por ahora fijo, despues sacar
    position: relative;
    top: 91px; /* Ajusta el valor para elevar la sección */
    z-index: -10; /* Asegura que la sección esté por encima de las tarjetas */;
    
}

.box-container {

    .box1 {
        margin-top: 10vh;
        padding: 6vh;
    }


}

.white-box {
    background-color: map-get($colors, white);
    border-radius: map-get($border, round);
    border: 3px solid rgb(128, 128, 128, 0.06);
    .white-box-title {
        font-family: map-get($fonts, subtitle);
        font-size: map-get($sizes, nav-bar);
        font-weight: bold;
        color: map-get($colors, black);
    }
}

.subtitle-section-grey {
    font-family: map-get($fonts, subtitle);
    font-size: map-get($sizes, title);
    font-weight: bold;
}

.paragraph-section-grey {
    font-family: map-get($fonts, title);
    font-size: map-get($sizes, nav-bar);
    color: rgb(0, 0, 0,0.5);


}

.circle2 {
    width: 100px;
    height: 100px;
    background-color: map-get($colors, violet);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
    .arrow2 {
        font-size: 2rem;
        color: white;
    }
}


.section-white {
    background-color: map-get($colors, white);
    height: 220vh; // por ahora fijo, despues sacar
    position: relative;
    top: -8px; /* Ajusta el valor para elevar la sección */
    z-index: -10;
    padding-top: 10vh;
}

.day-container {
    // margin-left: .5vw;
    // margin-right: .5vw;
    .chart-line-background {
        width: 3vw;
        height: 25vh;
        border-radius: map-get($border, round);
        background-color: map-get($colors, light-violet);
        display: flex;
        flex-direction: column;
        justify-content: end;
        .chart-line-pink{
            height: 15vh;
            border-radius: map-get($border, round);
            background-color: map-get($colors, pink);        
        }

        .five-pink {
            @extend .chart-line-pink;
            height: 5vh;
        }

        .ten-pink {
            @extend .chart-line-pink;
            height: 10vh;
        }

        .chart-line-blue {
            @extend .chart-line-pink;
            height: 20vh;
            background-color: map-get($colors, light-blue);
        }

        .ten-blue {
            @extend .chart-line-blue;
            height: 10vh;
        }

    }

    .paragraph-section-grey {
        text-align: center;  
        font-size: map-get($sizes, body);    
     }
}

.dot-pink {
    height: 1vh;
    width: 1vh;
    padding: 1vh;
    
    background-color: map-get($colors, pink);
    border-radius: 50%;
}

.dot-blue {
    @extend .dot-pink;
    background-color: map-get($colors, light-blue);
}

.dot-violet {
    @extend .dot-pink;
    background-color: map-get($colors, light-violet);
}

.items {
    font-size: map-get($sizes, body);
    font-family: map-get($fonts,title);
}



@media screen and (min-width: 1024px)  {

    .title1 {
        font-size: map-get($sizes, big-title);
        margin: 0;
        margin-top: 20vh;
    }
    .title2 {
        font-size: 4rem;
        padding: 0;
        margin: 0;
    }
    // .little-box {
    //     margin: 0;
    //     height: 23vh;
    //     margin-top: 22vh;
    // }

    // .little-memoji-box {
    //     margin-left: 2vw;
    //     margin-top: 2vh;
    //     width: auto;
    //     .little-memoji {
    //         width: 2vw;
    //         border: 2px solid white;
    //         border-radius: 40px;
    //         margin-bottom: 0vh;
    //         margin-top: 0;
    //     }
    
    // }

    .paragraph {
        margin-left: 0vw;
    }

    .circle1 {
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        width: 150px;
        height: 150px;
        background-image: linear-gradient(-225deg, #2CD8D5 0%, #6B8DD6 48%, #8E37D7 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        .arrow {
            font-size: 4rem;
    
        }
    }
    
    .memojis {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        flex-shrink: 0;

        .memoji1, .memoji2, .memoji3 {
            width: 15vw;
            flex-shrink: 0;
            position: absolute;
        }
        
        .memoji1 {
            left: 0px;
        }

        .memoji2 {
            left: 9vw;
            z-index: 10;
        }

        .memoji3 {
            left: 18vw;
        }
    }

    .cards-container {
        flex-direction: row;
        width: auto;
        .card1 {
            width: 100vw;
        }
    }

    .card1 {
        width: 20vw;
    }

    .box-container {

        .box1 {
            margin-top: 30vh;
            padding: 6vh;
        }
    
    
    }

    .section-grey {
        background-color: map-get($colors, light-grey);
        height: 200vh; // por ahora fijo, despues sacar
        position: relative;
        top: -200px; /* Ajusta el valor para elevar la sección */
        z-index: -10; /* Asegura que la sección esté por encima de las tarjetas */;
        
    }



    .section-white {
        background-color: map-get($colors, white);
        height: 200vh; // por ahora fijo, despues sacar
        position: relative;
        top: -200px; /* Ajusta el valor para elevar la sección */
        z-index: -10;
        padding-top: 10vh;
    }
    
    .day-container {
        margin-left: .5vw;
        margin-right: .5vw;
    .chart-line-background {
        width: 1.3vw;
    }
    }




}

@media screen and (min-width: 580px) and (max-width: 1000px){

    .title1 {
        font-size: 5rem;
        margin-left: 0;
        margin-bottom: 0;
     
    }

    .little-box {
        margin: 0;
        margin-top: 5vh;
        margin-bottom: 5vh;
        margin-left: 2vw;
        align-items: center;
        justify-content: center;
        padding: 0;
        height: 15vh;
    }

    .little-memoji-box {
        margin-left: 2vw;
   
        
        .little-memoji {
            width: 4vw;

            
        }
   }






    .paragraph {
        justify-self: flex-start;
        font-size: 2rem;
    }

    .cards-container {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        margin-top: 20vh;
        justify-content: space-between;
        border: 20px solid rgb(255, 255, 255, 0.2);
        margin: 10vh 1vw;
        flex-direction: column;
        // background-color: #2CD8D5;
        margin-bottom: 30vh;

        .card1 {
            width: 50vw;
  

        }
    }

    .section-grey {
        top: -250px;
    }

    .memojis {

        flex-wrap: nowrap;
    
        .memoji1, .memoji2, .memoji3 {
            width: 23vw;
            flex-shrink: 0;
        }

        .memoji1 {
            left: 0;
        }

        .memoji2 {
            left: 7vw;
        }

        .memoji3 {
            left: 14vw;
        }
    }

 







}

@media screen and (min-width: 1001px) and (max-width:1500px) {
    .title1 {
        font-size: 7rem;
     
    }
    .little-memoji-box {
        margin-left: 2vw;
        
        .little-memoji {
            width: 2.3vw;
            
        }
   }

    .memojis {
        .memoji1, .memoji2, .memoji3 {
            width: 20vw;
            flex-shrink: 0;
            position: absolute;
        }
    }
    .cards-container {
        // background-color: violet;
        // flex-wrap: nowrap;
   
        .card1 {
            width: 50vw;
            
        }
    }
}


@media screen and (min-width: 1501px) and (max-width:1800px) {
    .cards-container {
        // background-color: blue;
        flex-wrap: nowrap;
        .card1 {
            width: 20vw;
            
        }
    }
    .little-memoji-box {

        flex-wrap: nowrap;
        
        .little-memoji {
            width: 2.4vw;
            
        }
   }

    .memoji1, .memoji2, .memoji3 {
        width: 22vw;
        flex-shrink: 0;
        position: absolute;
    }
}



@media screen and (min-width: 1801px) and (max-width: 2700px) {

    .cards-container {
        // background-color: red;
        flex-wrap: nowrap;
        flex-direction: row;
        padding: 2vh 0;
        margin-left: -6vw;
        margin-right: -6vw;
        .card1 {
            width: 18vw;
            
        }
    }
    .little-box {
        padding-left: 0;
        margin-left: 0 ;
        margin-right: 0;
        margin-top: 20vh;
        height: 20vh;
    }
    .little-memoji-box {
        .little-memoji {
            width: 1.4vw;
            
        }
   }

    .memoji1, .memoji2, .memoji3 {
        width: 10vw;
        flex-shrink: 0;
        position: absolute;
    }
}

// @media screen and (min-width: 769px) and (max-width: 1023) {

//     .little-memoji-box {
//         margin-left: 2vw;
//         margin-top: 2vh;
//         background-color: blue;
    
//         .little-memoji {
//             width: 5px;
//             border: 2px solid white;
//             border-radius: 40px;
//         }
    
//     }

// }

