.dark {
    background-color: map-get($colors, dark-blue );
    
}

.overflow-x {
    overflow-x: hidden;
}

.red {
    background-color: red;
}

.pink {
    background-color: map-get($colors, pink);
}

