



$colors : (
    dark-blue: #050027,
    white: #FFFFFF,
    light-grey: #EEF3FC,
    violet: #6A65FF,
    grey: #ABAFB5,
    blue: #508DFF,
    light-blue: #77BFCF,
    pink: #FFB0E9,
    black: #010101,
    
);

$fonts : (
    title: 'Roobert',
    subtitle: 'Rebond Grotesque',
);

$sizes : (
    big-title: 8rem,
    title: 4rem,
    subtitle: 2rem,
    nav-bar: 1.4rem,
    body: 1rem,
    small: 0.75rem,
);

$border : (
    rounder: 40px,
    round: 30px,
    little-round: 20px,
);

